

@{
    ViewBag.Title = "IndexNG";
    Layout = "~/Views/Shared/_LayoutUmega.cshtml";
}


@section styles
{
    <link rel="stylesheet" type="text/css" href="/Content/carat/carat.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="/Content/carat/jquery.slider.min.css" media="screen, projection">
}

<h1>SPA TEXT</h1>
<div ng-view></div>

@section pageInitScripts
{
    <script src="~/Scripts/bower_components/anguvideo/js/anguvideo.js"></script>
    <script src="~/Scripts/sabio/modules/sabio.module.angularVideo.js"></script>

<script src="~/Scripts/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="~/Scripts/bower_components/tv4/tv4.js"></script>
<script src="~/Scripts/bower_components/objectpath/lib/ObjectPath.js"></script>
<script src="~/Scripts/bower_components/angular-schema-form/dist/schema-form.min.js"></script>
<script src="~/Scripts/bower_components/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
<script src="~/Scripts/sabio/modules/sabio.module.schemaForm.js"></script>


}

@section Scripts{

    <script src="~/Scripts/carat/jslider/jquery.slider.min.js"></script>
    <script src="~/Scripts/carat/cycle.js"></script>
    <script src="~/Scripts/carat/jquery.bxslider/jquery.bxslider.js"></script>
    @* Scripts services*@
    <script src="~/Scripts/services/sabio.services.vehicles.js"></script>
    <script src="~/Scripts/services/sabio.services.UpgradeDealer.js"></script>
    <script src="~/Scripts/services/sabio.services.addresses.js"></script>
    <script src="~/Scripts/services/sabio.services.mediaUploader.js"></script>
    <script src="~/Scripts/services/sabio.service.dealerRecoreService.js"></script>


    @*needed for youTube upload*@
    <script src="~/Scripts/services/sabio.services.youTubeUploader.js"></script>
    <script src="~/Scripts/cors_upload.js"></script>
    <script src="//apis.google.com/js/client:plusone.js"></script>
    @* Angular Controllers*@

    <script src="~/Scripts/sabio/application/dealerInventory/dealerInventory.config.js"></script>
    <script src="~/Scripts/sabio/application/dealerInventory/controllers/listController.js"></script>
    <script src="~/Scripts/sabio/application/dealerInventory/controllers/vehicleEditController.js"></script>
    @*<script src="~/Scripts/sabio/application/dealerInventory/controllers/vehicleCreateController.js"></script>*@
    <script src="~/Scripts/sabio/application/dealerInventory/controllers/vehicleMediaController.js"></script>
    <script src="~/Scripts/sabio/application/dealerInventory/controllers/vehicleTabsController.js"></script>
    <script src="~/Scripts/sabio/application/services/mediaUploaderServices.js"></script>
    <script src="~/Scripts/sabio/application/dealerInventory/controllers/vehicleVideoController.js"></script>
    <script src="~/Scripts/sabio/application/dealerInventory/controllers/videoListController.js"></script>

    @*Angular Services*@
    <script src="~/Scripts/sabio/application/services/dealerAccountService.js"></script>
    <script src="~/Scripts/sabio/application/services/dealerVehicleService.js"></script>
    <script src="~/Scripts/sabio/application/services/UpgradeDealerService.js"></script>
    <script src="~/Scripts/sabio/application/services/addressServices.js"></script>
    <script src="~/Scripts/sabio/application/services/youTubeService.js"></script>
    <script src="~/Scripts/sabio/application/services/mediaUploaderServices.js"></script>
    <script src="~/Scripts/sabio/application/services/DealerRecordServices.js"></script>
@*Angular and Scripts Services needed for EVA *@
    <script src="~/Scripts/sabio/application/services/evaEntityService.js"></script>
    <script src="~/Scripts/sabio/application/services/evaAttributeService.js"></script>
    <script src="~/Scripts/sabio/application/services/schemaFormService.js"></script>
    <script src="~/Scripts/sabio/application/services/evaRecordService.js"></script>

   <script src="~/Scripts/services/sabio.services.eva.attribute.js"></script>
   <script src="~/Scripts/services/sabio.services.eva.record.js"></script>
   <script src="~/Scripts/services/sabio.services.eva.entity.js"></script>

    @*Pagination*@
   <a href="~/Scripts/bower_components/angularUtils-pagination/dirPagination.tpl.html"></a>

    

}
